/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/* Nav Bar */

#navbar {
	width: 100%;
	display: inline-block;
	position: fixed;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

#logo {
	width: 84px;
    margin-left: 111px;
    padding: 9px;
}

ul{
	margin-left: 0;
	padding: 0;
	overflow: hidden; 
	background-color:  #E54E79;
	list-style: none;

}

#div-lista{
	margin-top: -65px;
	margin-right: 127px;
}

li {
	margin-right: 14px;
    float: right;
    padding: 10px;
}

li:hover{
	background-color: #E56385;
}

li a {
    display: block;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 14px;
    padding-right: 0px;
    padding-left: 0;
    text-decoration: none;
}

/* Header */

#imagen-fondo img {
	position: relative;
	width: 100%;
	display: inline-block;
}

#caja-registro {
	float: right;
    width: 389px;
    height: 315px;
    display: inline-block;
    position: relative; /* para posicionarlo sobre la img */
    margin-top: -420px;
    background-color: white;
}

#caja-registro h2 {
	color: #00B2A9;
	font-family: 'Raleway', sans-serif;
	margin-left: 32px;
    margin-top: 34px;
}

#caja-registro p {
	font-size: 14px;
    margin-left: 34px;
    margin-top: 13px;
}

#caja-registro input{

  display: inline-block;
  margin-left: 32px;
  margin-top: 35px;
  font-size: 18px;
  color: rgba(0,0,0,0.3);
  border: none;
  
}

hr{
	margin-left: 31px;
    margin-top: 10px;
    width: 316px;
    color: rgba(0,0,0,0.5);
}

#caja-registro button {
	margin-left: 29px;
    margin-top: 16px;
    width: 195px;
    height: 43px;
    border: 50%;
    border-radius: 9px;
    background-color: #E56385;;
    color: white;
    box-shadow: none;
    border: none;
    
}

#caja-registro button p {
	text-align: center;
    margin-top: 1px;
    margin-left: -9px;
    font-weight: 500;
}

#caja-registro button p i {
    margin-left: 5px;
}

#texto-check {
	margin-left: 29px;
    margin-top: 15px;
    font-size: 13px;

}

#texto-check p{
	margin-left: 0;
	font-size: 13px;
}

#texto-check a{
	text-decoration: none;
	color: black;
}

#texto-check a:hover{
	background-color: rgba(229,227,227,0.7);: 
}

#texto-earn {
	margin-left: -6px;
}


#texto-earn p{
	font-size: 13px;
}

#texto-earn a{
	text-decoration: none;
	color: black;
}

#texto-earn a:hover{
	background-color: rgba(229,227,227,0.7);: 
}

/* Section Play with lyft */

#play{
	background-color: #00B2A9;
}

